:root {
  --body-background-color: #ffffff;
  --body-text-color: #f0ffff;
  --card-background-color: #002b29;
  --nav-background-color: #002b29;
  --nav-border-bottom-color: #015450;
  --nav-current-border-bottom-color: #1abc9c;
  --card-border-color: #00a3ff;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}

nav ul li a {
  padding: 4px 20px !important;
  border-radius: 16px !important;
  background-color: #ececec !important;
  border-radius: 16px !important;
  color: #272727 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 25px !important;
}
